USE [TIENDA_CODIGO_FACILITO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTÍCULO](
	[Id_Articulo] [int] NOT NULL,
	[Id_Proveedor] [int] NOT NULL,
	[Cod_Art] [varchar](10) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DescripArt] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[MarcaArt] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[StockArt] [numeric](4, 0) NOT NULL,
	[PrecioArt] [numeric](6, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE_ENTRADA](
	[Id_Entrada] [int] NOT NULL,
	[Id_Articulo] [int] NOT NULL,
	[CantEntrada] [int] NOT NULL,
	[UnMedida] [varchar](10) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DescripMercancia] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[PaisAdquisicion] [varchar](20) COLLATE Modern_Spanish_CI_AS NULL,
	[NombProveedor] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[NroFact] [varchar](10) COLLATE Modern_Spanish_CI_AS NULL,
	[PrecUnitCompra] [numeric](6, 2) NOT NULL,
	[PrecImport] [numeric](6, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_SALIDA]    Script Date: 08/09/2016 3:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_SALIDA](
	[Id_Articulo] [int] NOT NULL,
	[Id_Salida] [int] NOT NULL,
	[CantSalida] [int] NOT NULL,
	[PUVenta] [numeric](6, 2) NOT NULL,
	[ImporteVenta] [numeric](6, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[Id_Entrada] [int] NOT NULL,
	[NroRegistro] [varchar](12) COLLATE Modern_Spanish_CI_AS NULL,
	[FechEntrada] [datetime] NULL,
	[FechFactura] [datetime] NULL,
	[TotalFOB] [numeric](8, 2) NULL,
	[Impuesto] [numeric](8, 2) NULL,
	[GIF] [numeric](8, 2) NULL,
	[TotalCompra] [numeric](8, 2) NULL,
	[FechRegistro] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL](
	[Id_Historial] [int] NOT NULL,
	[Id_Articulo] [int] NULL,
	[PrecioAnterior] [numeric](6, 2) NULL,
	[PrecioActual] [numeric](6, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[Id_Proveedor] [int] NOT NULL,
	[Razón_Social] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DireccionProv] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[TelfProv] [varchar](12) COLLATE Modern_Spanish_CI_AS NULL,
	[EmailProv] [varchar](30) COLLATE Modern_Spanish_CI_AS NULL,
	[FechRegistro] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALIDA](
	[Id_Salida] [int] NOT NULL,
	[NroSalida] [varchar](12) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[MontoTotal] [numeric](6, 2) NOT NULL,
	[FechRegistro] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ARTÍCULO] ([Id_Articulo], [Id_Proveedor], [Cod_Art], [DescripArt], [MarcaArt], [StockArt], [PrecioArt]) VALUES (97, 4, N'MK-65456', N'5445asdasdasd', N'oscar', CAST(15 AS Numeric(4, 0)), CAST(1812.00 AS Numeric(6, 2)))
INSERT [dbo].[ARTÍCULO] ([Id_Articulo], [Id_Proveedor], [Cod_Art], [DescripArt], [MarcaArt], [StockArt], [PrecioArt]) VALUES (3, 1, N'MK-1689', N'Plancha Mod/5802 Celeste', N'OSTER', CAST(24 AS Numeric(4, 0)), CAST(48.00 AS Numeric(6, 2)))
INSERT [dbo].[ARTÍCULO] ([Id_Articulo], [Id_Proveedor], [Cod_Art], [DescripArt], [MarcaArt], [StockArt], [PrecioArt]) VALUES (4, 1, N'MK-1689', N'Plancha Mod/5803 Roja', N'OSTER', CAST(10 AS Numeric(4, 0)), CAST(50.00 AS Numeric(6, 2)))
INSERT [dbo].[DETALLE_ENTRADA] ([Id_Entrada], [Id_Articulo], [CantEntrada], [UnMedida], [DescripMercancia], [PaisAdquisicion], [NombProveedor], [NroFact], [PrecUnitCompra], [PrecImport]) VALUES (54, 19, 5, N'UNIDAD', N'Tetera de 3.50 Lt', N'Chile', N'Importadora y Exportadora LIXIN', N'', CAST(32.00 AS Numeric(6, 2)), CAST(160.00 AS Numeric(6, 2)))
INSERT [dbo].[DETALLE_ENTRADA] ([Id_Entrada], [Id_Articulo], [CantEntrada], [UnMedida], [DescripMercancia], [PaisAdquisicion], [NombProveedor], [NroFact], [PrecUnitCompra], [PrecImport]) VALUES (55, 23, 1, N'UNIDAD', N'Juego de ollas de 6 und tapa acero', N'Chile', N'TRAMONTINA LTDA', N'0006', CAST(480.00 AS Numeric(6, 2)), CAST(480.00 AS Numeric(6, 2)))
INSERT [dbo].[DETALLE_ENTRADA] ([Id_Entrada], [Id_Articulo], [CantEntrada], [UnMedida], [DescripMercancia], [PaisAdquisicion], [NombProveedor], [NroFact], [PrecUnitCompra], [PrecImport]) VALUES (1, 3, 14, N'UNIDAD', N'Plancha Oster 5802', N'Chile', N'C&S Electronics SAC', N'007-02406', CAST(29.40 AS Numeric(6, 2)), CAST(411.60 AS Numeric(6, 2)))
INSERT [dbo].[DETALLE_SALIDA] ([Id_Articulo], [Id_Salida], [CantSalida], [PUVenta], [ImporteVenta]) VALUES (5, 1, 2, CAST(58.00 AS Numeric(6, 2)), CAST(116.00 AS Numeric(6, 2)))
INSERT [dbo].[DETALLE_SALIDA] ([Id_Articulo], [Id_Salida], [CantSalida], [PUVenta], [ImporteVenta]) VALUES (7, 1, 1, CAST(85.00 AS Numeric(6, 2)), CAST(85.00 AS Numeric(6, 2)))
INSERT [dbo].[DETALLE_SALIDA] ([Id_Articulo], [Id_Salida], [CantSalida], [PUVenta], [ImporteVenta]) VALUES (17, 18, 2, CAST(40.00 AS Numeric(6, 2)), CAST(80.00 AS Numeric(6, 2)))
INSERT [dbo].[ENTRADA] ([Id_Entrada], [NroRegistro], [FechEntrada], [FechFactura], [TotalFOB], [Impuesto], [GIF], [TotalCompra], [FechRegistro]) VALUES (1, N'000616/14-24', CAST(N'2014-04-11T00:00:00.000' AS DateTime), CAST(N'2014-04-10T00:00:00.000' AS DateTime), CAST(2385.60 AS Numeric(8, 2)), CAST(143.00 AS Numeric(8, 2)), CAST(119.00 AS Numeric(8, 2)), CAST(2647.00 AS Numeric(8, 2)), CAST(N'2014-04-12T00:00:00.000' AS DateTime))
INSERT [dbo].[ENTRADA] ([Id_Entrada], [NroRegistro], [FechEntrada], [FechFactura], [TotalFOB], [Impuesto], [GIF], [TotalCompra], [FechRegistro]) VALUES (2, N'000723/14-24', CAST(N'2014-04-14T00:00:00.000' AS DateTime), CAST(N'2014-04-13T00:00:00.000' AS DateTime), CAST(1776.60 AS Numeric(8, 2)), CAST(106.00 AS Numeric(8, 2)), CAST(89.00 AS Numeric(8, 2)), CAST(1972.00 AS Numeric(8, 2)), CAST(N'2014-04-16T00:00:00.000' AS DateTime))
INSERT [dbo].[ENTRADA] ([Id_Entrada], [NroRegistro], [FechEntrada], [FechFactura], [TotalFOB], [Impuesto], [GIF], [TotalCompra], [FechRegistro]) VALUES (3, N'000673/14-CZ', CAST(N'2014-04-19T00:00:00.000' AS DateTime), CAST(N'2014-04-18T00:00:00.000' AS DateTime), CAST(998.40 AS Numeric(8, 2)), CAST(60.00 AS Numeric(8, 2)), CAST(50.00 AS Numeric(8, 2)), CAST(1108.00 AS Numeric(8, 2)), CAST(N'2014-04-20T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[HISTORIAL] ([Id_Historial], [Id_Articulo], [PrecioAnterior], [PrecioActual]) VALUES (40, 5, CAST(60.00 AS Numeric(6, 2)), CAST(80.00 AS Numeric(6, 2)))
INSERT [dbo].[HISTORIAL] ([Id_Historial], [Id_Articulo], [PrecioAnterior], [PrecioActual]) VALUES (41, 4, CAST(50.00 AS Numeric(6, 2)), CAST(50.00 AS Numeric(6, 2)))
INSERT [dbo].[HISTORIAL] ([Id_Historial], [Id_Articulo], [PrecioAnterior], [PrecioActual]) VALUES (5, 5, CAST(58.00 AS Numeric(6, 2)), CAST(58.00 AS Numeric(6, 2)))
INSERT [dbo].[PROVEEDOR] ([Id_Proveedor], [Razón_Social], [DireccionProv], [TelfProv], [EmailProv], [FechRegistro]) VALUES (1, N'C&S ELECTRONICS SAC', N'Chile - Iquique', N'555555', N'asdad@asd.da', CAST(N'2014-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PROVEEDOR] ([Id_Proveedor], [Razón_Social], [DireccionProv], [TelfProv], [EmailProv], [FechRegistro]) VALUES (2, N'GIMAJASA LTDA', N'Chile - Iquique', NULL, NULL, CAST(N'2014-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PROVEEDOR] ([Id_Proveedor], [Razón_Social], [DireccionProv], [TelfProv], [EmailProv], [FechRegistro]) VALUES (3, N'Importadora y Exportadora PREMIER CH', N'Chile - Iquique', NULL, NULL, CAST(N'2014-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[SALIDA] ([Id_Salida], [NroSalida], [FechaSalida], [MontoTotal], [FechRegistro]) VALUES (1, N'001-3439', CAST(N'2014-05-02T00:00:00.000' AS DateTime), CAST(281.00 AS Numeric(6, 2)), CAST(N'2014-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[SALIDA] ([Id_Salida], [NroSalida], [FechaSalida], [MontoTotal], [FechRegistro]) VALUES (2, N'001-3440', CAST(N'2014-05-02T00:00:00.000' AS DateTime), CAST(195.00 AS Numeric(6, 2)), CAST(N'2014-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[SALIDA] ([Id_Salida], [NroSalida], [FechaSalida], [MontoTotal], [FechRegistro]) VALUES (3, N'001-3441', CAST(N'2014-05-02T00:00:00.000' AS DateTime), CAST(120.00 AS Numeric(6, 2)), CAST(N'2014-05-02T00:00:00.000' AS DateTime))
/****** Object:  Index [XPKARTÍCULO]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[ARTÍCULO] ADD  CONSTRAINT [XPKARTÍCULO] PRIMARY KEY NONCLUSTERED 
(
	[Id_Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKDETALLE_ENTRADA]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[DETALLE_ENTRADA] ADD  CONSTRAINT [XPKDETALLE_ENTRADA] PRIMARY KEY NONCLUSTERED 
(
	[Id_Entrada] ASC,
	[Id_Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKDETALLE_SALIDA]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[DETALLE_SALIDA] ADD  CONSTRAINT [XPKDETALLE_SALIDA] PRIMARY KEY NONCLUSTERED 
(
	[Id_Articulo] ASC,
	[Id_Salida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKENTRADA]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[ENTRADA] ADD  CONSTRAINT [XPKENTRADA] PRIMARY KEY NONCLUSTERED 
(
	[Id_Entrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKHISTORIAL]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[HISTORIAL] ADD  CONSTRAINT [XPKHISTORIAL] PRIMARY KEY NONCLUSTERED 
(
	[Id_Historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKPROVEEDOR]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[PROVEEDOR] ADD  CONSTRAINT [XPKPROVEEDOR] PRIMARY KEY NONCLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKSALIDA]    Script Date: 08/09/2016 3:36:47 ******/
ALTER TABLE [dbo].[SALIDA] ADD  CONSTRAINT [XPKSALIDA] PRIMARY KEY NONCLUSTERED 
(
	[Id_Salida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTÍCULO]  WITH CHECK ADD  CONSTRAINT [XFK_ARTICULO] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[PROVEEDOR] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[ARTÍCULO] CHECK CONSTRAINT [XFK_ARTICULO]
GO
ALTER TABLE [dbo].[DETALLE_ENTRADA]  WITH CHECK ADD  CONSTRAINT [XFK_D_ENTRADA] FOREIGN KEY([Id_Entrada])
REFERENCES [dbo].[ENTRADA] ([Id_Entrada])
GO
ALTER TABLE [dbo].[DETALLE_ENTRADA] CHECK CONSTRAINT [XFK_D_ENTRADA]
GO
ALTER TABLE [dbo].[DETALLE_ENTRADA]  WITH CHECK ADD  CONSTRAINT [XFK_D_ENTRADA_II] FOREIGN KEY([Id_Articulo])
REFERENCES [dbo].[ARTÍCULO] ([Id_Articulo])
GO
ALTER TABLE [dbo].[DETALLE_ENTRADA] CHECK CONSTRAINT [XFK_D_ENTRADA_II]
GO
ALTER TABLE [dbo].[DETALLE_SALIDA]  WITH CHECK ADD  CONSTRAINT [XFK_D_SALIDA] FOREIGN KEY([Id_Articulo])
REFERENCES [dbo].[ARTÍCULO] ([Id_Articulo])
GO
ALTER TABLE [dbo].[DETALLE_SALIDA] CHECK CONSTRAINT [XFK_D_SALIDA]
GO
ALTER TABLE [dbo].[DETALLE_SALIDA]  WITH CHECK ADD  CONSTRAINT [XFK_D_SALIDA_II] FOREIGN KEY([Id_Salida])
REFERENCES [dbo].[SALIDA] ([Id_Salida])
GO
ALTER TABLE [dbo].[DETALLE_SALIDA] CHECK CONSTRAINT [XFK_D_SALIDA_II]
GO
ALTER TABLE [dbo].[HISTORIAL]  WITH CHECK ADD  CONSTRAINT [XFK_HISTORIAL] FOREIGN KEY([Id_Articulo])
REFERENCES [dbo].[ARTÍCULO] ([Id_Articulo])
GO
ALTER TABLE [dbo].[HISTORIAL] CHECK CONSTRAINT [XFK_HISTORIAL]
GO
